page-feed {
    h2.feed_title {
        color: #C20594;
        animation: initial;
        font-size: large;
        font-style: normal;
        justify-content: normal;
    }
    div {
        color: #C20594;
    }
}
